<!-- ENDS MAIN -->
<footer>
    <!-- twitter -->
    <div id="twitter-holder">
        <div class="ribbon-left"></div>
        <div class="ribbon">
            <div id="tweets-bar" class="tweet"></div>
        </div>
        <div class="ribbon-right"></div>
    </div>
    <!-- ENDS twitter -->
    <!-- widgets -->
    <ul class="widget-cols cf">
        <li class="first-col">
            <div class="widget-block">
                <h4>文章推荐</h4>
                <div class="recent-post cf">
                    <a href="https://book.douban.com/subject/4242172/" class="thumb"><img src="/images/img/dummies/54x54.gif" alt="Post" /></a>
                    <div class="post-head">
                        <a href="https://book.douban.com/subject/4242172/">《天才在左,疯子在右》 </a><span> 这个世界，究竟是什么样的呢？</span>
                    </div>
                </div>
                <div class="recent-post cf">
                    <a href="https://book.douban.com/subject/2303588/" class="thumb"><img src="/images/img/dummies/54x54b.gif" alt="Post" /></a>
                    <div class="post-head">
                        <a href="https://book.douban.com/subject/2303588/">《心理罪》</a><span> 讲述一系列让警方感到扑朔迷离的案件。</span>
                    </div>
                </div>
                <div class="recent-post cf">
                    <a href="https://book.douban.com/subject/25862578/" class="thumb"><img src="/images/img/dummies/54x54c.gif" alt="Post" /></a>
                    <div class="post-head">
                        <a href="https://book.douban.com/subject/25862578/">《解忧杂货店》</a><span>站在人生的岔路口，人究竟应该怎么做？</span>
                    </div>
                </div>
            </div>
        </li>
        <li class="third-col">
            <div class="widget-block">
                <h4>关于视频</h4>
                <p>"生化危机",超级好看。</p>
                <p>"恐怖游轮",并不恐怖的说。</p>
                <p>"无人生还",也是剧情很紧凑的优质影片。</p>
                <p>"绝命毒师",讲述了一代大毒枭的崛起。</p>
            </div>
        </li>
        <li class="second-col">
            <div class="widget-block">
                <h4>关于自己</h4>
                <p>不高不低,不胖不瘦,我只是大千世界里一只普通的女程序员。</p>

                <p>喜欢有关推理的书籍和视频,所以就把想起来的几本好看的书放上来了。</p>
                <p>但是有时也会迷糊，关于方向的问题千万不能问我。(善意的提醒)</p>
            </div>
        </li>
        <li class="fourth-col">
            <div class="widget-block">
                <h4>各种链接</h4>
                <ul>
                    <li class="cat-item"><span>我的链接</span></li>
                    <li class="cat-item"><a href="http://www.kimkim.cc">我的博客</a></li>
                    <li class="cat-item"><a href="https://github.com/zjinqing">我的GitHub</a></li>
                    <li class="cat-item"><span>友情链接</span></li>
                    <li class="cat-item"><a href="http://www.keykey.cc">大棋的博客</a></li>
                    <li class="cat-item"><a href="javascript:;"></a></li>
                </ul>
            </div>
        </li>
    </ul>
    <!-- ENDS widgets -->

    <!-- bottom -->
    <div id="bottom">
        <div id="widget-trigger-holder"><a id="widget-trigger" href="#" title="View More" class="poshytip"></a></div>
        <div id="content">&copy; 张金青  &copy; 心情&#X3000;</div>
    </div>
    <!-- ENDS bottom -->

</footer>


</div>
<!-- ENDS WRAPPER -->

<!-- JavaScript at the bottom for fast page loading -->

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery-1.7.1.min.js"><\/script>')</script>

<!-- scripts concatenated and minified via build script -->
<script src="/js/custom.js"></script>

<!-- superfish -->
<script src="/js/superfish-1.4.8/js/hoverIntent.js"></script>
<script src="/js/superfish-1.4.8/js/superfish.js"></script>
<script src="/js/superfish-1.4.8/js/supersubs.js"></script>
<!-- ENDS superfish -->

<script src="/js/tweet/jquery.tweet.js"></script>
<script src="/js/jquery.isotope.min.js"></script>
<script src="/js/jquery.nivo.slider.js"></script>
<script src="/js/css3-mediaqueries.js"></script>
<script src="/js/tabs.js"></script>
<script src="/js/poshytip-1.1/src/jquery.poshytip.min.js"></script>
<!-- end scripts -->
<!---->
</article>
</body>
</html>