<% include header %>
<div class="container" style="height: 600px;">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-1 column">
                </div>
                <div class="col-md-10 column">
                    <form method="post" class="">
                        <label>标题:</label></br>
                        <input type="text" name="title"></br>
                        <label>标签:</label></br>
                        <input type="text" name="tag1" style="margin-bottom: 6px;">
                        <input type="text" name="tag2" style="margin-bottom: 6px;">
                        <input type="text" name="tag3"><br>
                        <label>正文:</label></br>
                        <textarea name="post" cols="50" rows="6"  ></textarea></br><br>
                        <input type="submit" value="发表">

                    </form>
                </div>
                <div class="col-md-1 column">
                </div>
            </div>
        </div>
    </div>
</div>

<% include footer %>