<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>张金青-前端工程师</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-------------->
    <link rel='shortcut icon' type='image/x-icon' href='/images/jianli/favicon.ico' />
    <link rel="apple-touch-icon-precomposed" href="/images/jianli/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/jianli/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/jianli/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/jianli/apple-touch-icon-144x144-precomposed.png">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/jianli/normalize.css/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/jianli/main.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jianli/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="js/jianli/jquery.hashchange.min.js"></script>
    <script src="js/jianli/jquery.easytabs.min.js"></script>

    <script src="js/jianli/main.js"></script>

    <!--自己设置的样式-->
    <link rel="stylesheet" href="/stylesheets/jianli/jianli.css">
</head>
<body class="bg-fixed bg-1">
<div class="main-container">
    <div class="main wrapper clearfix">
        <!-- Header Start -->
        <header id="header">
            <div id="logo">
                <h2>
                    张金青个人简历
                </h2>
                <h4>
                    前端工程师
                </h4>
            </div>
        </header>
        <!-- Header End -->
        <!-- Main Tab Container -->
        <div id="tab-container" class="tab-container">
            <!-- Tab List -->
            <ul class='etabs'>
                <li class='tab' id="tab-about">
                    <a href="#about"><i class="icon-user"></i><span>关于自己</span></a>
                </li>
                <li class='tab'>
                    <a href="#resume"><i class="icon-file-text"></i><span>职业技能</span></a>
                </li>
                <li class='tab'>
                    <a href="#portfolio"><i class="icon-heart"></i><span> 我的项目</span></a>
                </li>
                <li class='tab'>
                    <a href="#contact"><i class="icon-envelope"></i><span> 我的联系方式</span></a>
                </li>
            </ul>
            <!-- End Tab List -->
            <div id="tab-data-wrap">
                <!-- About Tab Data -->
                <div id="about">
                    <section class="clearfix">
                        <div class="g2">
                            <div class="photo">
                                <img src="/images/jianli/1.png" alt="Sunny Luthra" style="height: 200px;">
                            </div>
                            <div class="info">
                                <h2>
                                    张金青
                                </h2>
                                <h4>
                                    前端工程师
                                </h4>

                                <p>
                                   对编程的爱，语言根本不能进行描述
                                </p>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="main-links sidebar">
                                <ul>
                                    <li>
                                        <a href="javascript:;">年龄：24</a>
                                    </li>

                                    <li>
                                        <a href="javascript:;">工作经验：2年</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">期望行业：互联网/电子商务、计算机软件</a>
                                    </li>

                                    <li>
                                        <a href="javascript:;">目前状态：目前处于离职状态，一周内可上岗</a>
                                    </li>

                                    <li>
                                        <a href="javascript:;">期望薪资：面议</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="break"></div>
                        <div class="contact-info">
                            <div class="g1">
                                <div class="item-box clearfix">
                                    <i class="icon-user"></i>
                                    <div class="item-data">
                                        <h3><a href="http://www.kimkim.cc">kimkim.cc</a></h3>
                                        <p>博客</p>
                                    </div>
                                </div>
                            </div>
                            <div class="g1">
                                <div class="item-box clearfix">
                                    <i class="icon-facebook"></i>
                                    <div class="item-data">
                                        <h3><a href="https://github.com/zjinqing">GitHub</a></h3>
                                        <p>我的GitHub</p>
                                    </div>
                                </div>
                            </div>
                            <div class="g1">
                                <div class="item-box clearfix">
                                    <i class="icon-twitter"></i>
                                    <div class="item-data">
                                        <h3><a href="/">返回首页</a></h3>
                                        <p>点击可以返回首页</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><!-- content -->
                </div>
                <!-- End About Tab Data -->
                <!-- Resume Tab Data -->
                <div id="resume">
                    <section class="clearfix">
                        <div class="g2">
                            <h3>
                                职业技能
                            </h3>
                            <ul class="no-list work">
                                <li>
                                    <h5>
                                       前端工程师
                                    </h5>
                                    <!--<span class="label label-info">2009-2010</span>-->
                                    <p>
                                        1,能够流畅的阅读英文文档，对新技术保持较大的热情。<br>2,掌握HTML5，CSS3的应用，能将低版本页面升级到符合HTML5的标准页面。掌握新标准的写法规则，并能用于实践完成页面效果。<br>3,了解各大浏览器之间的差异，熟悉W3C标准，能写出符合W3C标准的页面，同时，可以解决IE和其他浏览器之间的兼容性问题。
                                        <br>4,熟悉ES5原生javascript写法，熟悉常用DOM操作，能使用原生JS完成网站上的基本功能，对原生javascript中的闭包、事件机制、原型链、异步等操作有着基础的了解，可以用函数式编程的思想来解决网页中的实际问题,了解面向对象的思想。
                                        <br>5,熟悉jquery，能正常使用jquery完成需求，了解jquery插件的制作和封装。
                                        <br>6,熟悉HTTP协议,了解常见HTTP状态码,能使用谷歌工具进行抓包和调试，了解URL请求中的各项环节，了解GET请求和POST请求的区别，了解AJAX请求机制，并能正常的使用ajax完成前后台交互功能。
                                        <br>7,熟练掌握bootstrap、AmazeUI等移动端框架，了解其优势和劣势。
                                        <br>8,了解其代表性的框架:angularJS，Vue，能使用angularJS完成前端页面的效果，表单验证、数据发送、数据绑定... 了解angularJS中的数据双向绑定、依赖注入、指令、服务等概念。
                                        <br>9,了解ionic，能在ionic框架下开发出符合IOS和android系统的标准H5页面,能解决常用问题和业务层的逻辑.
                                        <br>10,了解Node.js。了解使用Node.js+Express等内部框架和内部库，了解使用Node.js中ejs渲染模板 。熟悉Node.js模块和express模块，中间件的使用。
                                        <br>11,了解MongoDB数据库，可以使用MongoDB原生和Mongoose进行数据库构建和操作。
                                        <br>12,git管理工具，多人协作，团队开发.

                                    </p>
                                </li>
                        </div>
                        <div class="g1">
                            <div class="sidebar">
                                <h3>
                                    技能条
                                </h3>
                                <h5>
                                    编程语言
                                </h5>
                                <div class="meter emerald">
                                    <span style="width:89%"><span>HTML</span></span>
                                </div>
                                <div class="meter carrot">
                                    <span style="width: 90%"><span>CSS</span></span>
                                </div>
                                <div class="meter midnight">
                                    <span style="width: 85%"><span>Bootstrap</span></span>
                                </div>
                                <div class="meter wisteria">
                                    <span style="width: 75%"><span>javascript</span></span>
                                </div>
                                <div class="meter sunflower">
                                    <span style="width: 70%"><span>jquery</span></span>
                                </div>
                                <div class="meter pomengrate">
                                    <span style="width: 70%"><span>angularJS</span></span>
                                </div>
                                <div class="meter asbestos">
                                    <span style="width: 65%"><span>NodeJS</span></span>
                                </div>
                                <div class="break"></div>

                                <h5>
                                   自身属性
                                </h5>
                                <div class="meter emerald">
                                    <span style="width:89%"><span>幸福指数</span></span>
                                </div>
                                <div class="meter carrot">
                                    <span style="width: 89%"><span>开心值</span></span>
                                </div>
                                <div class="meter wisteria">
                                    <span style="width: 89%"><span>细心值</span></span>
                                </div>
                                <div class="meter sunflower">
                                    <span style="width: 89%"><span>团体意识值</span></span>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
                <!-- End Resume Tab Data -->
                <!-- Portfolio Tab Data -->
                <div id="portfolio">
                    <section class="clearfix">
                        <div class="g1" style="overflow-y:hidden">
                            <span><b>问答社区的开发</b></span>
                            <span class="label label-info pull-right">2017-1--2017-5</span>
                            <p></p>
                            <b>GitHub地址：<a href="https://github.com/zjinqing">https://github.com/zjinqing</a></b> <br><br>
                            <b>项目环境</b>Windows、NodeJS <br><br>
                            <b>开发工具</b>MongoDB、AngularJS、Bootstrap、jQuery、Webstorm、Git <br><br>
                            <p><b>责任描述：</b><br>1.这个项目是我自己开发的一个问答社区，负责整个项目的开发。<br>2.配合公司其他人员完成项目的测试和一些功能的完善。</p><br>

                        </div>
                        <div class="g1">
                            <b>项目描述</b><br>1.该项目基于Node.js构建，使用express框架，使用body-parser、cookie-parser、moment、  等功能模块对请求和数据进行处理。项目使用了邮箱验证码功能，可以对新注册的用户进行邮箱通知和对管理员的消息通知。使用了session、cookie对用户登录信息进行存储 。要求nodeJS版本>=4.0,要求mongodb>=3.0,redis>=3.0，该社区部署在linux操作系统下，是一个nodeJS开发者互相学习和交流的平台 <br> 2.前端页面布局使用了bootstrap 2.3UI框架，实现了页面整体布局的不同分辨率适配问题，较好解决了PC端和移动端的页面兼容展示问题。后端采用了express框架，数据库使用了mongodb+redis组合。代码检查工具jshint,代码测试工具mocha,进程管理工具pm2。
                        </div>
                        <div class="g1">
                            <div class="image">
                                <img src="http://lorempixel.com/306/306/sports/3" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://lorempixel.com/606/606/sports/3" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="break"></div>
                        <div class="g1">
                            <div class="image">

                                <img src="http://lorempixel.com/306/306/sports/3" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://lorempixel.com/606/606/sports/4" class="btn">Full View</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <span><b>个人博客的开发</b></span>
                            <span class="label label-info pull-right">2016-9--2016-12</span>
                            <p></p>
                            <b>GitHub地址：<a href="https://github.com/zjinqing">https://github.com/zjinqing</a></b> <br><br>
                            <b>项目环境</b>Windows、NodeJS <br><br>
                            <b>开发工具</b>MongoDB、AngularJS、Bootstrap、jQuery、Webstorm 、Git<br><br>
                            <p><b>责任描述：</b><br>1.负责整个项目的开发，实现前端页面的动态效果交互、表单验证功能、http请求处理、 服务器端用户信息和数据的存储、用户动态的统计和对用户请求的处理和操作。<br>2.2.负责对项目的服务器端逻辑功能的实现和对数据的保存修改。负责前端页面的布局和用户交互效果的实现以及相关的验证功能。</p><br>
                        </div>
                        <div class="g1">

                            <p><b>项目描述：</b>1.项目基于Node.js构建，使用了express框架。项目中通过使用mongodb对数据库进行操作，项目使用session和cookie对用户登录信息进行保存，并将相应的数据保存在数据库中。项目使用了ejs模板渲染页面。<br>2.前端页面整体使用了bootstrap进行布局，通过bootstrap中的class属相，实现了页面对不同屏幕大小和移动端的动态适配。同时通过jQuery对页面动态交互效果和DOM进行操作，既方便了DOM操作也解决了浏览器的兼容性问题。并且引入了动画库等，实现了页面的动态效果。</p>
                        </div>

                    </section>
                </div>
                <!-- End Portfolio Data -->
                <!-- Contact Tab Data -->
                <div id="contact">
                    <section class="clearfix">
                        <div class="g1">
                            <div class="sny-icon-box">
                                <div class="sny-icon">
                                    <i class="icon-globe"></i>
                                </div>
                                <div class="sny-icon-content">
                                    <h4>意向城市</h4>
                                    <p>杭州</p>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="sny-icon-box">
                                <div class="sny-icon">
                                    <i class="icon-phone"></i>
                                </div>
                                <div class="sny-icon-content">
                                    <h4>联系方式</h4>
                                    <p>15538889919</p>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="sny-icon-box">
                                <div class="sny-icon">
                                    <i class="icon-envelope"></i>
                                </div>
                                <div class="sny-icon-content">
                                    <h4>邮箱</h4>
                                    <p>932725002@qq.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="break"></div>
                    </section>
                </div>
                <!-- End Contact Data -->
            </div>
        </div>
        <!-- End Tab Container -->
        <footer>
            <center><h3>自我评价</h3></center>

                <p>1,对编程保持着浓厚的兴趣，能够通过查看文档和资料搜索解决各种问题；适应能力强，可以做到服从领导的安排。能接受加班，能够很快的融入新的工作环境，进入工作状态。<br>
                    2,性格开朗乐观，态度积极向上，能够与同事融洽相处；有很强的团队意识，能够互帮互助。<br>
                   3, 生活上注意个人形象，能够较好的展示自己。<br>
                    4,工作上认真细致，能够高效的完成任务；积极配合公司安排，对公司项目进行讨论和改进，提出自己的意见，配合公司各个部门的人员，预估项目时间，做好项目规划，实现项目目标。对于工作上和个人的问题能够很好的调整解决，不影响工作的正常开展。

                </p>

        </footer>
    </div><!-- #main -->
</div><!-- #main-container -->
</body>
</html>
