<% include header %>
<div class="container"style="height: 600px;padding-left: 0px;">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-1 column">
                </div>
                <div class="col-md-10 column">
                    <% posts.forEach(function(tag,index){ %>
                    <span><a class="tag" href="/tags/<%= tag %>"><%= tag %></a></span>
                    <%  }) %>
                </div>
                <div class="col-md-1 column">
                </div>
            </div>
        </div>
    </div>
</div>

<% include footer %>